{% extends "unfold/layouts/base.html" %}
{% load i18n unfold %}

{% block content %}

    <div class="flex gap-3">

            {% component "unfold/components/card.html" with title=_("Users Used All 40 Free Tokens") %}
                {% component "unfold/components/text.html" %}
                    {{percent_used_all_tokens}} %
                {% endcomponent %}
            {% endcomponent %}

            {% component "unfold/components/card.html" with title=_("Users Used 1+ Tokens But Never Converted") %}
                {% component "unfold/components/text.html" %}
            {{percent_used_some_never_converted}} %
                {% endcomponent %}
            {% endcomponent %}
        {% component "unfold/components/card.html" with title=_("Average time to first token use") %}
                {% component "unfold/components/text.html" %}
            {{avg_time_to_first_token}}
                {% endcomponent %}
            {% endcomponent %}
        {% component "unfold/components/card.html" with title=_("Average time to first purchase") %}
        {% component "unfold/components/text.html" %}
        {{avg_time_to_first_purchase}}
        {% endcomponent %}
        {% endcomponent %}
    <div>
{% endblock %}
